<div class="form-group">
    <label class="form-control-label required" for="{{ password_id }}">{{ password_label }}</label>
    <div class="form-widget">
        <input
            type="password"
            id="{{ password_id }}"
            name="password"
            class="form-control"
            required
            autocomplete="new-password"
            minlength="{{ min_length }}"
        >
        {% if show_requirements_hint is not defined or show_requirements_hint %}
            <small class="form-text text-muted">{{ 'password.policy.requirements'|trans({'%min%': min_length}) }}</small>
        {% endif %}
    </div>

    <label class="form-control-label required mt-2" for="{{ password_confirm_id }}">{{ password_confirm_label }}</label>
    <div class="form-widget">
        <input
            type="password"
            id="{{ password_confirm_id }}"
            name="password_confirm"
            class="form-control"
            required
            autocomplete="new-password"
            minlength="{{ min_length }}"
        >
    </div>
</div>
