<p>{{ 'email.account_invitation.greeting'|trans }}</p>
<p>{{ 'email.account_invitation.body'|trans }}</p>
<p><a href="{{ invitationUrl }}">{{ invitationUrl }}</a></p>
<p>{{ 'email.account_invitation.expiry'|trans }}</p>
